<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<body>
<header th:insert="/blocs/header :: header"></header>


<div class="container mt-5">
    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <h1 th:text="${el.title}"/>
        <p th:text="${el.full_text}"/><BR>
        <p><b>Просмотры:&nbsp;</b><span th:text="${el.views}"/></p>
        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-success" >Редактировать</a>
        <BR>
        <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
        <button class="btn btn-warning mt-2" type="submit">Удалить</button>
        </form>
    </div>
</div>
<footer th:insert="/blocs/footer :: footer"></footer>
</body>
</html>