<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<body>
<header th:insert="/blocs/header :: header"></header>


<div class="container mt-5">
    <H1>Блог сайта</H1>
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"/>
        <p th:text="${el.anons}"/>
        <a th:href="'/blog/' + ${el.id}" class="btn btn-warning">Подробнее</a>
    </div>
</div>
<footer th:insert="/blocs/footer :: footer"></footer>
</body>
</html>